## Import libraries

In [32]:
%load_ext autoreload
%autoreload 2

#Main tool for sudoku solving
import numpy as np

#Custom modules
from config import *
from module import *

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## Sample sudokus to solve
Initially given numbers in the sudoku grid.
This input should be easy for humans.

In [33]:
#Example 1
input_2d_1 = np.array([
    [0,0,1], [0,4,7], [0,3,0],
    [0,0,0], [0,0,5], [0,4,9],
    [3,0,0], [8,9,0], [2,0,1],
    
    [0,1,5], [0,0,0], [7,0,2],
    [0,0,0], [0,0,0], [0,0,0],
    [7,0,8], [0,0,0], [9,6,0],
    
    [8,0,3], [0,1,4], [0,0,7],
    [1,6,0], [3,0,0], [0,0,0],
    [0,4,0], [6,2,0], [3,0,0],
])

In [34]:
#Example 2
input_2d_2 = np.array([
    [0,0,0], [0,6,0], [3,5,0],
    [0,0,0], [9,0,3], [0,1,6],
    [0,0,3], [0,7,0], [9,0,0],
    
    [4,2,0], [0,0,0], [6,0,0],
    [8,3,6], [2,5,4], [1,7,9],
    [0,0,9], [6,3,0], [0,2,4],
    
    [0,0,2], [0,1,0], [0,0,0],
    [7,1,8], [3,0,6], [0,0,0],
    [0,4,5], [0,0,0], [0,0,1],
])

## Convert input suitable for machine
Convert sudoku numbers 1-9 to zero based 0-8. Mark empty cells by -1.

In [35]:
input_2d = convert_input_2d(input_2d_1)

#Display
display(input_2d)

array([[-1, -1,  0, -1,  3,  6, -1,  2, -1],
       [-1, -1, -1, -1, -1,  4, -1,  3,  8],
       [ 2, -1, -1,  7,  8, -1,  1, -1,  0],
       [-1,  0,  4, -1, -1, -1,  6, -1,  1],
       [-1, -1, -1, -1, -1, -1, -1, -1, -1],
       [ 6, -1,  7, -1, -1, -1,  8,  5, -1],
       [ 7, -1,  2, -1,  0,  3, -1, -1,  6],
       [ 0,  5, -1,  2, -1, -1, -1, -1, -1],
       [-1,  3, -1,  5,  1, -1,  2, -1, -1]])

## Convert 2D matrix to 3D
Create an additional dimension for each cell to keep book of possible numbers. Each cell has an array of length 9 for that. 

For example if 2 and 4 are the only possible values for a cell, it's array would be `[0, 1, 0, 1, 0, 0, 0, 0, 0]`.

In [36]:
input_3d = convert_2d_3d(input_2d)

## Solve
Loop through each cell and mark which numbers it can possibly have. There are different strategies to determine this.

When there's only one possible number left, it can be marked to the grid.

Iterate until one of these conditions is true:
* Maximum number of iterations achieved (defined in config.py).
* All numbers are known.
* The iteration didn't yield any new numbers.

In [37]:
#Convert the original 2d array to 3d boolean array
sudoku_3d = input_3d

#Iterate i times
i = 0
known_values = 0
known_values_prev = -1
while i<20 and known_values<(rows*cols) and known_values!=known_values_prev:
    
    i += 1

    #Apply strategies for each cell and convert back to 2d
    sudoku_3d = loop_cells(sudoku_3d, range(9), range(9))
    
    sudoku_2d = convert_3d_2d(sudoku_3d)

    known_values_prev = known_values
    known_values = count_knowns_2d(sudoku_2d)

    #Print results
    print("\nRound {}".format(i))
    print("Known numbers: {}/81".format(known_values))
    print_grid(sudoku_2d)

Round 1
Known numbers: 36/81

+---------+---------+---------+
|       1 | 2  4  7 |    3    |
|         | 1     5 |    4  9 |
| 3       | 8  9  6 | 2     1 |
+---------+---------+---------+
|    1  5 |         | 7  8  2 |
|         |         |         |
| 7     8 |         | 9  6    |
+---------+---------+---------+
| 8     3 |    1  4 |       7 |
| 1  6    | 3       |         |
|    4    | 6  2    | 3       |
+---------+---------+---------+

Round 2
Known numbers: 39/81

+---------+---------+---------+
|       1 | 2  4  7 |    3    |
|         | 1  3  5 |    4  9 |
| 3       | 8  9  6 | 2     1 |
+---------+---------+---------+
|    1  5 |    6    | 7  8  2 |
|         |         |         |
| 7     8 |    5    | 9  6    |
+---------+---------+---------+
| 8     3 |    1  4 |       7 |
| 1  6    | 3       |         |
|    4    | 6  2    | 3       |
+---------+---------+---------+

Round 3
Known numbers: 41/81

+---------+---------+---------+
|       1 | 2  4  7 |    3    |
|         | 1  3  5 |    4  9 |
| 3       | 8  9  6 | 2     1 |
+---------+---------+---------+
|    1  5 |    6    | 7  8  2 |
|         |         |         |
| 7     8 | 4  5    | 9  6  3 |
+---------+---------+---------+
| 8     3 |    1  4 |       7 |
| 1  6    | 3       |         |
|    4    | 6  2    | 3       |
+---------+---------+---------+

Round 4
Known numbers: 50/81

+---------+---------+---------+
|       1 | 2  4  7 |    3    |
|         | 1  3  5 |    4  9 |
| 3       | 8  9  6 | 2     1 |
+---------+---------+---------+
|    1  5 | 9  6  3 | 7  8  2 |
|         | 7  8    |         |
| 7  2  8 | 4  5  1 | 9  6  3 |
+---------+---------+---------+
| 8     3 | 5  1  4 | 6     7 |
| 1  6    | 3  7    |         |
|    4    | 6  2    | 3       |
+---------+---------+---------+

Round 5
Known numbers: 59/81

+---------+---------+---------+
|       1 | 2  4  7 |    3    |
|         | 1  3  5 | 8  4  9 |
| 3       | 8  9  6 | 2     1 |
+---------+---------+---------+
| 4  1  5 | 9  6  3 | 7  8  2 |
|         | 7  8  2 |         |
| 7  2  8 | 4  5  1 | 9  6  3 |
+---------+---------+---------+
| 8  9  3 | 5  1  4 | 6  2  7 |
| 1  6  2 | 3  7    |         |
| 5  4  7 | 6  2    | 3     8 |
+---------+---------+---------+

Round 6
Known numbers: 72/81

+---------+---------+---------+
|       1 | 2  4  7 | 5  3  6 |
|    7  6 | 1  3  5 | 8  4  9 |
| 3  5  4 | 8  9  6 | 2  7  1 |
+---------+---------+---------+
| 4  1  5 | 9  6  3 | 7  8  2 |
|    3  9 | 7  8  2 |         |
| 7  2  8 | 4  5  1 | 9  6  3 |
+---------+---------+---------+
| 8  9  3 | 5  1  4 | 6  2  7 |
| 1  6  2 | 3  7    | 4     5 |
| 5  4  7 | 6  2  9 | 3  1  8 |
+---------+---------+---------+

Round 7
Known numbers: 81/81

+---------+---------+---------+
| 9  8  1 | 2  4  7 | 5  3  6 |
| 2  7  6 | 1  3  5 | 8  4  9 |
| 3  5  4 | 8  9  6 | 2  7  1 |
+---------+---------+---------+
| 4  1  5 | 9  6  3 | 7  8  2 |
| 6  3  9 | 7  8  2 | 1  5  4 |
| 7  2  8 | 4  5  1 | 9  6  3 |
+---------+---------+---------+
| 8  9  3 | 5  1  4 | 6  2  7 |
| 1  6  2 | 3  7  8 | 4  9  5 |
| 5  4  7 | 6  2  9 | 3  1  8 |
+---------+---------+---------+